.overall-header {
  font-size: 32px;
  line-height: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.countdownHolder {
  .countDiv2,
  .countSeconds {
    display: none;
  }
}

.countdown-pane {
  .pane-title {
    text-align: center;
    font-size: 1rem;
  }

  .countdownHolder {
    width: auto;
  }

  #jquery-countdown-timer-note {
    width: auto;
  }
}

.title-area {
  .name h1 {
    display: none;
  }
}

@media only screen and (max-width:64.063em) {
  .check-buttons p {
    text-align:center;
  }
}

.join-button p {
  text-align: center;
}

.pcount {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1em;
  background-image: url("../images/isk-ukrest/32line.png");
  background-position: center top;
  background-repeat: repeat-x;

  .pcount-text {
    background-color: #FFF;
    padding-left: 30px;
    padding-right: 30px;
  }

}

.user-profile {
  .field {
    line-height: 1.6;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .field-name-field-city {
    .field-label {
      font-size: 100%;
      line-height: 1.6;
      margin: 0;
      padding: 0;
    }
    .links {
      list-style: none;
      font-size: 100%;
      margin: 0;
      margin-bottom: 2em;
      padding: 0;
    }
  }
}

.flag-outer .flag {
  @extend .button;
  @extend .tiny;
}


html.js {
  input.form-autocomplete {
    background-image: none;
  }

  input.throbbing {
    background-image: url("../images/isk-ukrest/ajax-loader.gif");
    background-position: 98% 50%;
    background-repeat: no-repeat;
  }
}

html input[type=text] {
  width: auto;
}

.top-bar .toggle-topbar.menu-icon a span::after,
.top-bar.expanded .toggle-topbar.menu-icon a span {
  box-shadow: none;
}

.top-bar .toggle-topbar.menu-icon a span:hover:after,
.top-bar.expanded .toggle-topbar.menu-icon a span:hover {
  box-shadow: none;
}

#admin-menu {
  ul, li {
    font-size: 100%;
  }
}

.l-main {
  padding-bottom: 20px;
}

%icon {
  background-position: left center;
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 16px;
  height: 24px;
  position: relative;;
  margin-right: 8px;
}

.list-item-icon {
  list-style: none;
  padding-left: 0px;
  line-height: 24px;
  margin-bottom: 8px;

  .list-item-unchecked {
    @extend %icon;
    background-image: url(../images/foundation/misc/wrong2.png);
  }

  .list-item-checked {
    @extend %icon;
    background-image: url(../images/foundation/misc/check6.png);
  }
}



